 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box
 }

 body {
    background-color: #B91350;;
 }

 .rounded-pink {
    border: 2px solid #B91350;
 }

 .pink {
    color: #B91350;
 }

 .btn-genera {
    background-color: lightgray;
    border: 3px solid orange;
 }

 .btn-annulla {
    background-color: lightgray;
    border: 3px solid gray;
 }
